project1/batches/logicapps/refreshactivities-eventhubtriggered,json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "HTTP": {
                "inputs": {
                    "method": "POST",
                    "uri": "https://www.strava.com/oauth/token?grant_type=refresh_token&refresh_token=5467275c8378d8b2a16676976bc0573e4f5d6754&client_id=16923&client_secret=15839b802ee0f1b4e85cc6c4d9b66fd32d9f852a"
                },
                "runAfter": {},
                "type": "Http"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "pageNumber",
                            "type": "Integer",
                            "value": 1
                        }
                    ]
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "$schema": "http://json-schema.org/draft-04/schema#",
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "expires_at": {
                                "type": "integer"
                            },
                            "expires_in": {
                                "type": "integer"
                            },
                            "refresh_token": {
                                "type": "string"
                            },
                            "token_type": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "token_type",
                            "access_token",
                            "expires_at",
                            "expires_in",
                            "refresh_token"
                        ],
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Until": {
                "actions": {
                    "Create_blob": {
                        "inputs": {
                            "body": "@body('HTTP_3')",
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureblob_2']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/datasets/default/files",
                            "queries": {
                                "folderPath": "/activities",
                                "name": "remi-@{variables('pageNumber')}",
                                "queryParametersSingleEncoded": true
                            }
                        },
                        "runAfter": {
                            "HTTP_3": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "ApiConnection"
                    },
                    "HTTP_3": {
                        "inputs": {
                            "headers": {
                                "Authorization": "Bearer @{body('Parse_JSON')['access_token']}",
                                "Content-Type": "application/x-www-form-urlencoded"
                            },
                            "method": "GET",
                            "uri": "https://www.strava.com/api/v3/athlete/activities?per_page=200&page=@{variables('pageNumber')}"
                        },
                        "runAfter": {},
                        "type": "Http"
                    },
                    "Increment_variable": {
                        "inputs": {
                            "name": "pageNumber",
                            "value": 1
                        },
                        "runAfter": {
                            "Create_blob": [
                                "Succeeded"
                            ]
                        },
                        "type": "IncrementVariable"
                    }
                },
                "expression": "@equals(variables('pageNumber'), 4)",
                "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Until"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_events_are_available_in_Event_Hub": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['eventhubs']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent('newactivityhub')}/events/batch/head",
                    "queries": {
                        "contentType": "application/octet-stream",
                        "maximumEventsCount": 50
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob_2": {
                    "connectionId": "/subscriptions/79af5c19-f2da-4651-8acc-6d086f130874/resourceGroups/stravaactivities/providers/Microsoft.Web/connections/azureblob-2",
                    "connectionName": "azureblob-2",
                    "id": "/subscriptions/79af5c19-f2da-4651-8acc-6d086f130874/providers/Microsoft.Web/locations/eastus/managedApis/azureblob"
                },
                "eventhubs": {
                    "connectionId": "/subscriptions/79af5c19-f2da-4651-8acc-6d086f130874/resourceGroups/stravaactivities/providers/Microsoft.Web/connections/eventhubs",
                    "connectionName": "eventhubs",
                    "id": "/subscriptions/79af5c19-f2da-4651-8acc-6d086f130874/providers/Microsoft.Web/locations/eastus/managedApis/eventhubs"
                }
            }
        }
    }
}
