batches/logicapps/refreshactivitiessample.json
{
    "$connections": {
        "value": {
            "azureblob": {
                "connectionId": "/subscriptions/79af5c19-f2da-4651-8acc-6d086f130874/resourceGroups/stravaactivities/providers/Microsoft.Web/connections/azureblob",
                "connectionName": "azureblob",
                "id": "/subscriptions/79af5c19-f2da-4651-8acc-6d086f130874/providers/Microsoft.Web/locations/eastus/managedApis/azureblob"
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_blob": {
                "inputs": {
                    "body": "@body('HTTP_2')",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/files",
                    "queries": {
                        "folderPath": "/activities",
                        "name": "remi",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "HTTP_2": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "HTTP": {
                "inputs": {
                    "method": "POST",
                    "uri": "https://www.strava.com/oauth/token?grant_type=refresh_token&refresh_token=5467275c8378d8b2a16676976bc0573e4f5d6754&client_id=16923&client_secret=askme"
                },
                "runAfter": {},
                "type": "Http"
            },
            "HTTP_2": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}",
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "method": "GET",
                    "uri": "https://www.strava.com/api/v3/athlete/activities"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "$schema": "http://json-schema.org/draft-04/schema#",
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "expires_at": {
                                "type": "integer"
                            },
                            "expires_in": {
                                "type": "integer"
                            },
                            "refresh_token": {
                                "type": "string"
                            },
                            "token_type": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "token_type",
                            "access_token",
                            "expires_at",
                            "expires_in",
                            "refresh_token"
                        ],
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "0"
                        ]
                    },
                    "timeZone": "Eastern Standard Time"
                },
                "type": "Recurrence"
            }
        }
    }
}
